body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.proj-image {
  height: 200px;
}

.icon {
  height: 50px;
  padding: 10px;
}

.icons {
  height: 50px;
}

.contact-text {
  padding: 80px;
  font-size: 30px;
  font-family: "Titillium Web";
}
.email {
  padding: 50px;
  font-size: 30px;
  font-family: "Titillium Web";
}

.about-page {
  height: 100vh;
  background: #3d4c66;
  display: grid;
  grid-template-columns: 40% 60%;
}

.about-text {
  padding: 50px;
  font-size: 30px;
  font-family: "Titillium Web";
}
.about-title {
  padding: 40px;
  font-size: 50px;
  font-family: "Titillium Web";
}

.profile-pic {
  height: 400px;
}

.about-col-one {
  grid-column: 1;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}
.about-col-two {
  grid-column: 2;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}
.project-page {
  height: 100vh;
  background: black;
}
.contact-page {
  height: 100vh;
  background: #2a3649;
  display: flex;
  align-items: center; /* horizontal */
  justify-content: center; /* vertical */
}

.nav {
  padding: 30px;
  text-align: right;
  margin-right: 60px;
  margin-bottom: 20px;
  color: white;
  background-color: Transparent;
}

.down-arrow {
  height: 80px;
  padding-top: 40px;
}

.landing-page {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
}

.greeting-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.greeting-text-large {
  color: white;
  font-size: 70px;
  font-family: "Titillium Web";
}
.greeting-text-small {
  color: white;
  font-size: 40px;
  font-family: "Titillium Web";
  padding-bottom: 50px;
}

.nav-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  font-family: "Titillium Web";
  border: none;
  color: white;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.2em;
  margin-left: 50px;
  margin-right: 50px;
}

button:focus {
  outline: 0;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.project-header {
  font-size: 50px;
  font-family: "Titillium Web";
  padding: 30px;
  background-color: #6d86af;
}

.project-name {
  font-size: 30px;
  font-family: "Titillium Web";
  padding: 10px;
}
.project-description {
  font-size: 20px;
  font-family: "Titillium Web";
  padding: 10px;
}

.project-row {
  display: grid;
  padding: 30px;
  background-color: #6d86af;
  grid-template-columns: auto auto;
}
.project-col-1 {
  grid-column: 1;
  padding: 10px;
}
.project-col-2 {
  grid-column: 2;
  padding: 10px;
}
