.nav {
  padding: 10px;
  text-align: right;
  margin-right: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: blue;
}

.landing-page {
  height: 100vh;
  background-color: black;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
}

.greeting-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.greeting-text {
  color: white;
  font-size: 70px;
  font-family: "Special Elite";
}

.nav-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  font-size: 1.2em;
  margin-left: 50px;
  margin-right: 50px;
}

button:focus {
  outline: 0;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.proj1 {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 5px;
}

.proj2 {
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 5px;
}
.proj3 {
  grid-column-start: 4;
  grid-column-end: 5;
  padding: 5px;
}
.proj4 {
  grid-column-start: 5;
  grid-column-end: 6;
  padding: 5px;
}
